<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="stylesheets/about.css" />
        <link rel="stylesheet" href="stylesheets/footer.css" />
        <link rel="stylesheet" href="stylesheets/navbar.css" />
        <link
            rel="shortcut icon"
            href="images/favicon.ico"
            type="image/x-icon"
        />
        <title>About</title>
    </head>

    <style>
        .about-nav {
            background: #fa8c43;
            color: white !important;
        }
    </style>

    <body>
        <%- include("./partials/navbar.ejs") %>

        <section class="section-about">
            <div class="about-left-side about-side"></div>
            <div class="about-right-side about-side">
                <h1>About</h1>
                <p>
                    Astroex Research is a student research-based community that
                    provides an open platform for K12, undergraduate and
                    postgraduate students who are passionate about research and
                    want to make a positive contribution to society.
                </p>
                <br />
                <p>
                    At Astroex, our mission is to promote research based
                    environment among students which may help by motivating them
                    to identify their interest and later pursue their career in
                    the same
                </p>
                <a class="about-know-more" href="#">Know More</a>
            </div>
            <div class="pop-up-social">
                <h2>Follow us</h2>
                <br />
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Officia quam suscipit, eveniet pariatur, esse nihil
                    perspiciatis autem obcaecati blanditiis.
                </p>
                <div class="social-pop-icons">
                    <a href=""
                        ><img
                            src="https://img.icons8.com/ios/40/000000/facebook-new.png"
                    /></a>
                    <a href=""
                        ><img
                            src="https://img.icons8.com/ios/40/000000/instagram-new--v1.png"
                    /></a>
                    <a href=""
                        ><img
                            src="https://img.icons8.com/ios/40/000000/youtube-play--v1.png"
                    /></a>
                </div>
            </div>
        </section>

        <section class="mission-vision-section">
            <div class="mission-vision-div">
                <div class="mission-main-div">
                    <div class="mission-div">
                        <h1>Mission</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Laudantium, iste corrupti. Ut consectetur
                            dolorem pariatur quisquam architecto placeat,
                            exercitationem dolore odit similique error ratione
                            commodi ipsum totam, possimus quos? Odit.
                        </p>
                    </div>
                    <!-- <div class="images-mission-div">
                        <div class="image-div-mission">
                            <div class="image-div-mission-span"></div>
                            <div class="image-mission"></div>
                        </div>
                    </div> -->
                </div>
                <div class="vision-main-div">
                    <!-- <div class="images-vision-div">
                        <div class="image-div-vision">
                            <div class="image-div-vision-span"></div>
                            <div class="image-vision"></div>
                        </div>
                    </div> -->
                    <div class="vision-div">
                        <h1>Vision</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Laborum sequi quaerat minima reiciendis esse
                            veritatis aliquid laboriosam itaque quis
                            necessitatibus assumenda reprehenderit accusantium
                            nihil illum dolor accusamus, recusandae modi odit.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="quotes-section">
            <p>
                We believe all students can embrace who they are, can define
                their future, and can change the world.
            </p>
        </section>

        <section class="cards-section">
            <div class="section-cards">
                <div class="left-card-div">
                    <div class="image-div">
                        <h1>
                            Research is to see what everybody else has been
                            seen, and to think what nobody else has thought.
                        </h1>
                        <p>-Albert Szent Györgyi</p>
                    </div>
                </div>
                <div class="right-card-div">
                    <div class="grid-div">
                        <div class="grid-box grid-box1"></div>
                        <div class="grid-box grid-box2"></div>
                        <div class="grid-box grid-box3"></div>
                        <div class="grid-box grid-box4"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-partners">
            <h1>Partners</h1>
            <div class="partners-main-div">
                <marquee direction="right">
                    <div class="partners-div">
                        <% partners.forEach(element => { %>
                        <img
                            src="<%= element.image_partners %>"
                            alt="<%= element.name_partners %>"
                        />
                        <% }) %>
                    </div>
                </marquee>
            </div>
        </section>
        <section class="section-partners">
            <h1>Collaborators</h1>
            <div class="partners-main-div">
                <marquee direction="left">
                    <div class="partners-div">
                        <% collaborators.forEach(element => { %>
                        <img
                            src="<%= element.image_collaborators %>"
                            alt="<%= element.name_collaborators %>"
                        />
                        <% }) %>
                    </div>
                </marquee>
            </div>
        </section>

        <%- include("./partials/footer.ejs") %>

        <script src="javascripts/navbar.js"></script>
    </body>
</html>
