<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="stylesheets/events.css" />
        <link rel="stylesheet" href="stylesheets/navbar.css" />
        <link
            rel="shortcut icon"
            href="images/favicon.ico"
            type="image/x-icon"
        />
        <link rel="stylesheet" href="stylesheets/footer.css" />
        <title>Events</title>
    </head>

    <style>
        .event-nav {
            background: var(--color);
            color: white !important;
        }
    </style>

    <body>
        <%- include("./partials/navbar.ejs") %>

        <!-- <section class="eventsContainer">
            <div class="straightLine"></div>
            <%# eventsArray.forEach(events => { %>
            <div class="eventsDiv">
                <span class="circleSpan"></span>
                <div class="leftDiv">
                    <p><%#= events.description_events %></p>
                </div>
                <div class="rightDiv">
                    <h1><%#= events.date_events %></h1>
                    <h2><%#= events.time_events %></h2>
                    <div class="imageDiv">
                        <img src="<%#= events.image_events %>" />
                    </div>
                    <h1><%#= events.name_events %></h1>
                </div>
            </div>
            <%# }) %>
        </section> -->

        <div>
            <h1 class="heading_events">Workshops</h1>
            <section>
                <div class="main-div">
                    <% var count = 0; %> <% eventsArray.length != 0 &&
                    eventsArray.forEach(events => { %> <% if
                    (events.category_events == "workshops_events") { %> <%
                    count++ %>
                    <div class="all-div">
                        `
                        <div class="content-div">
                            <h1><%= events.date_events %></h1>
                            <h2><%= events.time_events %></h2>
                            <p><%= events.description_events %></p>
                            <div class="imageDiv">
                                <img src="<%= events.image_events %>" />
                            </div>
                        </div>
                        <div class="download-div">
                            <a href="<%= events.events_link %>"
                                >Click to continue</a
                            >
                        </div>
                    </div>
                    <% } %> <% }) %> <% if(count == 0) { %>
                    <div
                        class="zerocontent"
                        style="
                            background-color: #ffffff;
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            color: var(--color);
                        "
                    >
                        <img
                            src="https://img.icons8.com/ios/50/512efe/sad.png"
                            style="margin-bottom: 2rem"
                        />
                        <h2 class="zerocontenttext">Nothing to see here...</h2>
                    </div>
                    <% } %>
                </div>
            </section>
        </div>

        <div>
            <h1 class="heading_events">Webinars</h1>
            <section>
                <div class="main-div">
                    <% var count2 = 0; %> <% eventsArray.length !=0 &&
                    eventsArray.forEach(events => { %> <% if
                    (events.category_events == "webinars_events") { %> <%
                    count2++ %>
                    <div class="all-div">
                        `
                        <div class="content-div">
                            <h1><%= events.date_events %></h1>
                            <h2><%= events.time_events %></h2>
                            <p><%= events.description_events %></p>
                            <div class="imageDiv">
                                <img src="<%= events.image_events %>" />
                            </div>
                        </div>
                        <div class="download-div">
                            <a href="<%= events.events_link %>"
                                >Click to continue</a
                            >
                        </div>
                    </div>
                    <% } %> <% }) %> <% if(count2 == 0) { %>
                    <div
                        class="zerocontent"
                        style="
                            background-color: #ffffff;
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            color: var(--color);
                        "
                    >
                        <img
                            src="https://img.icons8.com/ios/50/512efe/sad.png"
                            style="margin-bottom: 2rem"
                        />
                        <h2 class="zerocontenttext">Nothing to see here...</h2>
                    </div>
                    <% } %>
                </div>
            </section>
        </div>

        <%- include("./partials/footer.ejs") %>

        <script src="javascripts/navbar.js"></script>
    </body>
</html>
