<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="stylesheets/events.css" />
        <link rel="stylesheet" href="stylesheets/navbar.css" />
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="stylesheets/footer.css" />
        <title>Events</title>
    </head>

    <body>
        <%- include("./partials/navbar.ejs") %>

        <section class="events-section">
            <% eventsArray.forEach(events => { %>
            <div class="events-main-div">
                <div class="image-events">
                    <img src="<%= events.image_events %> " alt="" />
                </div>
                <div class="content-events">
                    <div class="event-name">
                        <h1><%= events.name_events %> </h1>
                    </div>
                    <div class="event-button">
                        <button>
                            <div class="button-inside">
                                <span class="button-inside-span"
                                    >Register Now</span
                                >
                                <p><%= events.date_events %> <br> <%= events.time_events %></p>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <% }) %>
        </section>

        <%- include("./partials/footer.ejs") %>

        <script src="javascripts/navbar.js"></script>
    </body>
</html>
