<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="stylesheets/membership.css" />
		<link rel="stylesheet" href="stylesheets/footer.css" />
		<link rel="stylesheet" href="stylesheets/navbar.css" />
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
		<title>Membership</title>
	</head>

	<style>
        .membership-nav {
            background: var(--color);
            color: white !important;
        }
    </style>


	<body>
		<%- include("./partials/navbar.ejs") %>

		<section class="membership-section">
			<div class="membership-main-div">
				<h1>Membership</h1>
				<p><%= para && para.paragraph %></p>
			</div>
			<% if(table1.length == 0 && table2.length == 0) { %> 
				<div class="zerocontent"
				style="background-color: #ffffff; position: absolute; height: 100%;width: 100%; display:flex;align-items: center;justify-content: center; flex-direction: column; color: var(--color);">
				<img src="https://img.icons8.com/ios/50/512efe/sad.png" style="margin-bottom: 2rem;"/><h2 class="zerocontenttext">Nothing to
					see here...</h2>
			</div>
			<% } else {%>
			<div class="membership-table-top">
				<table>
					<tr>
						<th>Membership</th>
						<th>Student</th>
						<!-- <th>Professional</th> -->
						<!-- <th>Silver Membership</th>
						<th>Institutional Membership</th> -->
					</tr>
					<% table1.forEach(tab => {%>
					<tr>
						<td><%=tab.input1_membership%></td>
						<td><%=tab.input2_membership%></td>
						<!-- <td><%#=tab.input3_membership%></td> -->
						<!-- <td><%#=tab.input4_membership%></td>
						<td><%#=tab.input5_membership%></td> -->
					</tr>
					<% }); %>
				</table>
			</div>

			<div class="membership-table-next">
				
				<table>
					<tr>
						<th rowspan="2">Benefits</th>
						<th colspan="2">Student</th>
						<!-- <th colspan="2">Professional</th> -->
					</tr>
					<tr>
						<th>1 Year</th>
						<th>Life time</th>
						<!-- <th>1 Year</th>
						<th>Life time</th> -->
					</tr>
					<% table2.forEach(tab => {%>
					<tr>
						<td><%=tab.input1_membership%></td>
						<td><%=tab.input2_membership%></td>
						<td><%=tab.input3_membership%></td>
						<!-- <td><%#=tab.input4_membership%></td> -->
						<!-- <td><%#=tab.input5_membership%></td> -->
					</tr>
					<% }); %>
				</table>
			</div>
			<% } %> 
			<div class="membership-button">
				<a href="/becomeamember">Become a member</a>
			</div>
		</section>

		<%- include("./partials/footer.ejs") %>

		<script src="javascripts/navbar.js"></script>
	</body>
</html>
