<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="stylesheets/publications.css" />
        <link rel="stylesheet" href="stylesheets/footer.css" />
        <link
            rel="shortcut icon"
            href="images/favicon.ico"
            type="image/x-icon"
        />
        <link rel="stylesheet" href="stylesheets/navbar.css" />
        <title>Projects & Publications</title>
    </head>

    <style>
        .service-nav {
            background: #fa8c43;
            color: white !important;
        }
    </style>

    <body>
        <%- include("./partials/navbar.ejs") %>

        <div class="main-section">
            <h1 class="main-section-h1">Projects</h1>
            <section class="publications-section">
                <div class="main-div">
                    <% projectsArray.forEach(projects => { %>
                        <% if (projects.type_projects === "projects") { %>
                    <div class="all-div">
                        <div class="content-div">
                            <h1><%= projects.title_projects %></h1>
                            <p>
                                <%= projects.description_projects %>
                            </p>
                        </div>
                        <div class="download-div">
                            <a href="<%= projects.file_projects %>" download>Download</a>
                        </div>
                    </div>
                    <% } %>
                    <% }) %>
                </div>
            </section>
        </div>

        <div class="main-section">
            <h1 class="main-section-h1">Publications</h1>
            <section class="publications-section">
                <div class="main-div">
                    <% projectsArray.forEach(projects => { %>
                        <% if (projects.type_projects == "publications") { %>
                    <div class="all-div">
                        <div class="content-div">
                            <h1><%= projects.title_projects %></h1>
                            <p>
                                <%= projects.description_projects %>
                            </p>
                        </div>
                        <div class="download-div">
                            <a href="<%= projects.file_projects %>" download="<%= projects.title_projects %>">Download</a>
                        </div>
                    </div>
                    <% } %>
                    <% }) %>
                </div>
            </section>
        </div>

        <div class="main-section">
            <h1 class="main-section-h1">Books</h1>
            <section class="publications-section">
                <div class="main-div">
                    <% if(projectsArray.length == 0) { %> 
                        <div class="zerocontent"
                        style="background-color: #1e1e1e; position: relative; height: 300px;width: 100%; display:flex;align-items: center;justify-content: center; flex-direction: column; color: #fa8c43;">
                        <img src="https://img.icons8.com/ios/50/fa8c43/sad.png" style="margin-bottom: 2rem;"/><h2 class="zerocontenttext" style="">Nothing to
                            see here...</h2>
                    </div>
                    <% } %>
                    <% projectsArray.forEach(projects => { %>
                        <% if (projects.type_projects == "books") { %>
                    <div class="all-div">
                        <div class="content-div">
                            <h1><%= projects.title_projects %></h1>
                            <p>
                                <%= projects.description_projects %>
                            </p>
                        </div>
                        <div class="download-div">
                            <a href="<%= projects.file_projects %>" target="_blank" download="<%= projects.title_projects %>">Download</a>
                        </div>
                    </div>
                    <% } %>
                    <% }) %>
                </div>
            </div>
        </section>

        <%- include("./partials/footer.ejs") %>

        <script src="javascripts/navbar.js"></script>
    </body>
</html>
