<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="stylesheets/teams.css" />
        <link rel="stylesheet" href="stylesheets/footer.css" />
        <link
            rel="shortcut icon"
            href="images/favicon.ico"
            type="image/x-icon"
        />
        <link rel="stylesheet" href="stylesheets/navbar.css" />
        <title>Teams</title>
    </head>

    <style>
        .team-nav {
            background: var(--color);
            color: white !important;
        }
    </style>

    <body>
        <%- include("./partials/navbar.ejs") %>

        <!-- Top Section - Start -->
        <section class="top-section">
            <div class="main-container">
                <div class="main-content">
                    <h1>Teams</h1>
                    <p>
                        We have mentored hundreds of students across various
                        countries and helped them to publish research papers
                        too. Any individual who is interested in doing research
                        can join Astroex Research Association without any second
                        thought.
                    </p>
                </div>
            </div>
            <div class="floating_container">
                <p>
                    We have mentored hundreds of students across various
                    countries and helped them to publish research papers too.
                    Any individual who is interested in doing research can join
                    Astroex Research Association without any second thought.
                </p>
            </div>
        </section>
        <!-- Top Section - End -->

        <section class="team-section">
            <!-- <h1 class="team-section-h1">Me<span>et The Te</span>am</h1> -->
            <h1 class="team-section-h1">Teams</h1>
            <div class="our-teams">
               <% var count = 0 %> 
                <% console.log(count) %> 
                <% teamArray.length > 0 &&  teamArray.forEach(teams => { %> 
                <%  teams.select_team == "team_a" ?  count++ : null %> 
                <% if (teams.select_team == "team_a") { %>
                <div class="one_team_top">
                    <div class="one_team">
                        <img
                            class="one-team-image"
                            src="<%= teams.image_team %>"
                            alt=""
                        />
                        <h2><%= teams.name_team %></h2>
                        <p><%= teams.job_team %></p>
                        <div class="social_icons_div">
                            <a href="<%= teams.instagram_url %>">
                                <img
                                    class="social_icons_img"
                                    src="https://img.icons8.com/ios/40/000000/instagram-new--v1.png"
                                />
                            </a>
                            <a href="<%= teams.linkedIn_url %>">
                                <img
                                    class="social_icons_img"
                                    src="https://img.icons8.com/ios/40/000000/linkedin.png"
                                />
                            </a>
                            <a href="mailto:<%= teams.email_team %>">
                                <img
                                    class="social_icons_img"
                                    src="https://img.icons8.com/ios/50/000000/new-post.png"
                                />
                            </a>
                        </div>
                    </div>
                </div>
                <% } %> <% }) %>
                <% if(teamArray.length == 0 || count == 0) { %> 
                    <div class="zerocontent"
                    style="background-color: #ffffff; position: absolute; height: 100%;width: 100%; display:flex;align-items: center;justify-content: center; flex-direction: column; color: var(--color);">
                    <img src="https://img.icons8.com/ios/50/512efe/sad.png" style="margin-bottom: 2rem;"/><h2 class="zerocontenttext">Nothing to
                        see here...</h2>
                </div>
                <% } %>
            </div>
        </section>

        <%- include("./partials/footer.ejs") %>

        <script src="javascripts/navbar.js"></script>
    </body>
</html>
