<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="stylesheets/teams.css" />
        <link rel="stylesheet" href="stylesheets/footer.css" />
        <link rel="stylesheet" href="stylesheets/navbar.css" />
        <title>Teams</title>
    </head>

    <body>
        <%- include("./partials/navbar.ejs") %>

        <section class="team-section">
            <h1 class="team-section-h1">Me<span>et The Te</span>am</h1>
            <h1 class="team-section-h1">Team 1</h1>
            <div class="our-teams">
                <% teamArray.forEach(teams => { %> <% if (teams.select_team ==
                "team_a") { %>
                <div
                    class="team-div"
                    style="--background: <%= teams.color_team %>"
                >
                    <div class="team-image">
                        <img src="<%= teams.image_team %> " alt="" />
                    </div>
                    <div class="team-name">
                        <h2><%= teams.name_team %></h2>
                        <p><%= teams.job_team %></p>
                        <div class="social-icons">
                            <a href="<%= teams.instagram_url %>">
                                <img
                                    class="social-icons-img"
                                    src="https://img.icons8.com/ios/40/instagram-new--v1.png"
                                />
                            </a>
                            <a href="<%= teams.linkedIn_url %>">
                                <img
                                    class="social-icons-img"
                                    src="https://img.icons8.com/ios/40/linkedin.png"
                                />
                            </a>
                            <a href="<%= teams.email_team %>">
                                <img
                                    class="social-icons-img"
                                    src="https://img.icons8.com/ios/40/whatsapp--v1.png"
                                />
                            </a>
                        </div>
                    </div>
                </div>
                <% } %> <% }) %>
            </div>
            <h1 class="team-section-h1">Team 2</h1>
            <div class="our-teams">
                <% teamArray.forEach(teams => { %> <% if (teams.select_team ==
                "team_b") { %>
                <div
                    class="team-div"
                    style="--background: <%= teams.color_team %>"
                >
                    <div class="team-image">
                        <img src="<%= teams.image_team %> " alt="" />
                    </div>
                    <div class="team-name">
                        <h2><%= teams.name_team %></h2>
                        <p><%= teams.job_team %></p>
                        <div class="social-icons">
                            <a href="<%= teams.instagram_url %>">
                                <img
                                    class="social-icons-img"
                                    src="https://img.icons8.com/ios/40/instagram-new--v1.png"
                                />
                            </a>
                            <a href="<%= teams.linkedIn_url %>">
                                <img
                                    class="social-icons-img"
                                    src="https://img.icons8.com/ios/40/linkedin.png"
                                />
                            </a>
                            <a href="<%= teams.email_team %>">
                                <img
                                    class="social-icons-img"
                                    src="https://img.icons8.com/ios/40/whatsapp--v1.png"
                                />
                            </a>
                        </div>
                    </div>
                </div>

                <% } %> <% }) %>
            </div>
        </section>

        <%- include("./partials/footer.ejs") %>

        <script src="javascripts/navbar.js"></script>
    </body>
</html>
