<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/training.css" />
    <link rel="stylesheet" href="stylesheets/about.css" />
    <link rel="stylesheet" href="stylesheets/about-swiper.css" />
    <link rel="stylesheet" href="stylesheets/internship.css" />
    <link rel="stylesheet" href="stylesheets/price-services.css" />
    <link rel="stylesheet" href="stylesheets/internship_animation.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="stylesheets/footer.css" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="stylesheets/navbar.css" />
    <title>Services</title>
</head>


<style>
    .heading_page {
        color: var(--dark);
    }

    .service-nav {
        background: var(--color);
        color: var(--dark) !important;
    }
</style>

<body>
    <%- include("./partials/navbar.ejs") %>

        <section class="services-section" id="services">
            <h1>Our services</h1>
            <div class="main-services">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <% if(services.length==0) { %>
                            <div class="zerocontent"
                                style="background-color: #ffffff; position: relative; height: 200px;width: 100%; display:flex;align-items: center;justify-content: center; flex-direction: column; color: var(--color);">
                                <img src="https://img.icons8.com/ios/50/512efe/sad.png" style="margin-bottom: 2rem;" />
                                <h2 class="zerocontenttext">Nothing to
                                    see here...</h2>
                            </div>
                            <% } else { %>
                                <% services.forEach(element=> { %>
                                    <div class="swiper-slide">
                                        <div class="services">
                                            <p>
                                            <h1>
                                                <%= element.name_services %>
                                            </h1>
                                            <p>
                                                <%= element.textarea_services %>
                                            </p>
                                            </p>
                                        </div>
                                        <span class="hover-effect-swiper"></span>
                                    </div>
                                    <% }) %>
                                        <% } %>
                    </div>
                    <% if(services.length !=0) { %>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <% } %>
                </div>
            </div>
        </section>


        <h1 class="pricing_h1">Pricing List</h1>
        <% if(services.length==0) { %>
            <div class="zerocontent"
                style="background-color: #ffffff; position: relative; height: 200px;width: 100%; display:flex;align-items: center;justify-content: center; flex-direction: column; color: var(--color);">
                <img src="https://img.icons8.com/ios/50/512efe/sad.png" style="margin-bottom: 2rem;" />
                <h2 class="zerocontenttext">Nothing to
                    see here...</h2>
            </div>
            <% } else { %>
                <section class="price-section">
                    <div class="price-div">
                        <% services.forEach(element=> { %>
                            <div class="price_para_div">
                                <p><%- element.price_services %></p>
                            </div>
                            <% }) %>
                    </div>
                </section>
                <% } %>


                    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

                    <!-- Initialize Swiper -->
                    <script>
                        var swiper = new Swiper(".mySwiper", {
                            slidesPerView: 1,
                            spaceBetween: 10,
                            navigation: {
                                nextEl: ".swiper-button-next",
                                prevEl: ".swiper-button-prev",
                            },
                            loop: true,
                            // autoplay: {
                            //     delay: 2500,
                            //     disableOnInteraction: false,
                            // },
                            // pagination: {
                            //     el: ".swiper-pagination",
                            //     clickable: true,
                            // },
                            breakpoints: {
                                640: {
                                    slidesPerView: 2,
                                    spaceBetween: 20,
                                },
                                768: {
                                    slidesPerView: 4,
                                    spaceBetween: 40,
                                },
                                1024: {
                                    slidesPerView: 3,
                                    spaceBetween: 50,
                                },
                            },
                        });
                    </script>

        <%- include("./partials/footer.ejs") %>

</body>

</html>