<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/training.css" />
    <link rel="stylesheet" href="stylesheets/about.css" />
    <link rel="stylesheet" href="stylesheets/about-swiper.css" />
    <link rel="stylesheet" href="stylesheets/internship.css" />
    <link rel="stylesheet" href="stylesheets/internship_animation.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="stylesheets/footer.css" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="stylesheets/navbar.css" />
    <title>Training</title>
</head>

<style>
    .heading_page {
        color: white;
    }
    .service-nav {
        background: var(--purple);
        color: white !important;
    }
</style>

<body>
    <%- include("./partials/navbar.ejs") %>

        <section class="services-section" id="services">
            <h1>Our services</h1>
            <div class="main-services">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <% if(services.length == 0) { %> 
                            <div class="zerocontent"
                            style="background-color: #1e1e1e; position: relative; height: 200px;width: 100%; display:flex;align-items: center;justify-content: center; flex-direction: column; color: var(--purple);">
                            <img src="https://img.icons8.com/ios/50/512efe/sad.png" style="margin-bottom: 2rem;"/><h2 class="zerocontenttext">Nothing to
                                see here...</h2>
                        </div>
                        <% } else { %> 
                        <% services.forEach(element=> { %>
                            <div class="swiper-slide">
                                <div class="services">
                                    <p>
                                    <h1>
                                        <%= element.name_services %>
                                    </h1>
                                    <p>
                                        <%= element.textarea_services %>
                                    </p>
                                    </p>
                                </div>
                                <span class="hover-effect-swiper"></span>
                            </div>
                            <% }) %><% } %> 
                    </div>
                    <% if(services.length != 0) { %> 
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <% } %> 
                </div>
            </div>
        </section>




        <section class="toggler">
            <div class="toggler-div">
                <div class="toggler-button toggler-button-training">
                    <h1>Training</h1>
                </div>
                <div class="toggler-button toggler-button-internship">
                    <h1>Internship</h1>
                </div>
            </div>
        </section>

        <section class="training-section">
            <h1 class="heading_page">Training</h1>
            <% if(training.length == 0) { %> 
                <div class="zerocontent"
                style="background-color: #1e1e1e; position: relative; height: 200px;width: 100%; display:flex;align-items: center;justify-content: center; flex-direction: column; color: var(--purple);">
                <img src="https://img.icons8.com/ios/50/512efe/sad.png" style="margin-bottom: 2rem;"/><h2 class="zerocontenttext">Nothing to
                    see here...</h2>
            </div>
            <% } %>
            <% training.forEach(element=> { %>
                <div class="training-main-div">
                    <div class="heading-section">
                        <h1>
                            <%- element.batch_training %>
                        </h1>
                    </div>
                    <div class="box-div box-div1">
                        <div class="floating-content">
                            <p>
                                <%- element.title_training %>
                            </p>
                        </div>
                        <div class="standard-content">
                            <p>
                                <%- element.paragraph_training %>
                            </p>
                        </div>
                    </div>
                </div>
                <% }) %>
        </section>

        <section class="main-section">
            <h1 class="heading_page">Internship</h1>
            <div class="main-div-intership">
                <% if(internshipArray.length == 0) { %> 
                    <div class="zerocontent"
                    style="background-color: #1e1e1e; position: relative; height: 200px;width: 100%; display:flex;align-items: center;justify-content: center; flex-direction: column; color: var(--purple);">
                    <img src="https://img.icons8.com/ios/50/512efe/sad.png" style="margin-bottom: 2rem;"/><h2 class="zerocontenttext">Nothing to
                        see here...</h2>
                </div>
                <% } %>
                <% internshipArray.forEach(internship=> { %>
                    <div class="div-internship">
                        <h1>
                            <%= internship.heading_internship %>
                        </h1>
                        <h2 style="font-weight: 400">
                            <%= internship.subheading_internship %>
                        </h2>
                        <!-- <div class="tags-internship-div">
                        <%#
                        internship.tag_internship.split(",").forEach((element,
                        index) => { %>
                        <p class="tags-internship">
                            <%#= element.split("=")[1] %>
                        </p>
                        <%# }); %>
                    </div> -->
                        <div class="tags-internship-div">
                            <p class="tags-internship">
                                <%= internship.phone_internship %>
                            </p>
                            <p class="tags-internship">
                                <%= internship.email_internship %>
                            </p>
                        </div>
                        <div class="poster_image_div">
                            <p id="myImg" class="myImg form_link">Poster</p>
                            <a class="form_link" target="_blank" href="<%= internship.form_internship %>">Forms
                            </a>
                        </div>
                        <p>
                            <%= internship.description_internship %>
                        </p>
                    </div>
                    <div id="myModal" class="modal myModal">
                        <span class="close">&times;</span>
                        <img class="modal-content img01" id="img01" src="<%= internship.image_internship %>" />
                    </div>
                    <% }) %>
            </div>
        </section>

        <%- include("./partials/footer.ejs") %>

            <script src="javascripts/navbar.js"></script>

            <script>
                const trainingSection = document.querySelector(".training-section");
                const mainSection = document.querySelector(".main-section");

                const togglerTraining = document.querySelector(
                    ".toggler-button-training"
                );
                const togglerInternship = document.querySelector(
                    ".toggler-button-internship"
                );

                togglerTraining.addEventListener("click", () => {
                    trainingSection.style.display = "flex";
                    mainSection.style.display = "none";
                    togglerTraining.style.backgroundColor = "var(--purple)";
                    togglerInternship.style.backgroundColor = "#1e1e1e";
                });

                togglerInternship.addEventListener("click", () => {
                    trainingSection.style.display = "none";
                    mainSection.style.display = "flex";
                    togglerInternship.style.backgroundColor = "var(--purple)";
                    togglerTraining.style.backgroundColor = "#1e1e1e";

                });
            </script>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 10,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        loop: true,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        // pagination: {
        //     el: ".swiper-pagination",
        //     clickable: true,
        // },
        breakpoints: {
            640: {
                slidesPerView: 2,
                spaceBetween: 20,
            },
            768: {
                slidesPerView: 4,
                spaceBetween: 40,
            },
            1024: {
                slidesPerView: 3,
                spaceBetween: 50,
            },
        },
    });
</script>
</body>

</html>