<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../stylesheets/admin-nav.css" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
        />
        <link
            rel="shortcut icon"
            href="../../images/favicon.ico"
            type="image/x-icon"
        />
        <link rel="stylesheet" href="../../stylesheets/admin-show.css" />
        <title>Services</title>
    </head>
    <%- include("../../partials/services.ejs") %>

    <body>
        <%- include("../../partials/admin_nav.ejs") %>

        <div class="container">
            <div class="row">
                <div class="row">
                    <h1>Services</h1>
                </div>
                <div class="row">
                    <a
                        class="btn btn-primary insert-button"
                        href="/admin/services/insert"
                        >Add Services</a
                    >
                </div>
            </div>
            <div class="row">
                <table class="table table-striped table-dark table-hover">
                    <thead>
                        <tr>
                            <th class="col-name">Name</th>
                            <th class="col-name">Paragraph</th>
                            <th class="col-name">Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% servicesArray.reverse().forEach(services => { %>
                        <tr>
                            <td>
                                <span class="first-column"
                                    ><%- services.name_services %></span
                                >
                            </td>
                            <td>
                                <span class="first-column"
                                    ><%- services.textarea_services %></span
                                >
                            </td>
                            <td>
                                <a
                                    href="/admin/services/<%- services.services_id %>"
                                    class="btn btn-primary"
                                    style="margin-bottom: 10%"
                                    >View
                                </a>
                                <a
                                    href="/admin/services/update/<%- services.services_id %>"
                                    class="btn btn-warning"
                                    style="margin-bottom: 10%"
                                    >Edit
                                </a>
                                <a
                                    href="/admin/services/delete/<%- services.services_id %>"
                                    class="btn btn-danger"
                                    style="margin-bottom: 10%"
                                    >Delete
                                </a>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
