<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../stylesheets/admin-nav.css" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
        />
        <link
            rel="shortcut icon"
            href="../../images/favicon.ico"
            type="image/x-icon"
        />
        <link rel="stylesheet" href="../../stylesheets/admin-show.css" />
        <title>Training</title>
    </head>
    <%- include("../../partials/training.ejs") %>

    <body>
        <%- include("../../partials/admin_nav.ejs") %>

        <div class="container">
            <div class="row">
                <h1>Training</h1>
            </div>
            <div class="row">
                <a
                    class="btn btn-primary insert-button"
                    href="/admin/training/insert"
                    >Add training</a
                >
            </div>
        </div>
        <div class="row" style="margin: 0 5%">
            <table class="table table-striped table-dark table-hover">
                <thead>
                    <tr>
                        <th class="col-name">Title</th>
                        <th class="col-name mobile-view">Description</th>
                        <th class="col-name mobile-view">Batch</th>
                        <th class="col-name">Operations</th>
                    </tr>
                </thead>
                <tbody>
                    <% trainingArray.reverse().forEach(training => { %>
                    <tr>
                        <td>
                            <span class="first-column"
                                ><%- training.title_training %></span
                            >
                        </td>
                        <td class="mobile-view">
                            <%- training.paragraph_training.trim().slice(0, 50)
                            %>...
                        </td>
                        <td class="mobile-view">
                            <%- training.batch_training %>
                        </td>
                        <td class="operations-icons">
                            <a
                                href="/admin/training/<%- training.id_training %>"
                                class="btn btn-primary"
                                style="margin-bottom: 10%"
                                >View</a
                            >
                            <a
                                href="/admin/training/update/<%- training.id_training %>"
                                class="btn btn-warning"
                                style="margin-bottom: 10%"
                                >Edit</a
                            >
                            <a
                                href="/admin/training/delete/<%- training.id_training %>"
                                class="btn btn-danger"
                                style="margin-bottom: 10%"
                                >Delete</a
                            >
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <%- include("../../partials/admin_footer.ejs") %>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
